@media screen and (max-width: 800px),
handheld and (orientation: portrait) {
    .col,
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

:root {
    --base-color: #272927;
}

div#root {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    font-family: Poppins, sans-serif;
}

label:has(+ [required]),
[required]~label {
    font-weight: bold;
}

input[type="file"][required] {
    font-weight: bold;
}

[required] {
    border-bottom-color: var(--base-color);
    border-bottom-width: thin;
}

.is-invalid {
    border-bottom-color: var(--bs-form-invalid-color);
    border-bottom-width: medium;
}

.form-check:not(.form-switch) > .form-check-input {
    width: 2em;
    height: 2em;
}

.form-switch > .form-check-input {
    width: 3em;
    height: 1.5em;
}

.form-check {
    display: flex;
    align-items: center;
    height: 100%;
}

label {
    color: var(--base-color);
}

label:has(+ input[type="file"]) {
    margin-bottom: 0;
    color: var(--base-color);
}

.form-select,
.form-floating>label,
option,
input.form-control,
input[type="file"]::file-selector-button {
    color: var(--base-color);
}

input[disabled],
.form-floating>input[disabled].form-control~label,
.form-floating>label:has(input[disabled]) {
    color: color-mix(in oklab, var(--base-color) 60%, rgba(0, 0, 0, 0) 40%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    width: 1.75em;
    height: 1.75em;
    filter: invert(1);
}

/*
.date-control:not([disabled])::after {
    content: "📅";
    position: absolute;
    font-size: 1.5em;
    right: 1.5%;
    top: 65%;
    transform: translateY(-50%);
    pointer-events: none;
}
*/

.form-check-input:checked {
    border-color: color-mix(in oklab, var(--base-color) 60%, rgba(0, 0, 0, 0) 40%);
    background-color: var(--base-color);
}

.section-row {
    border-radius: 10px;
    background: linear-gradient(to bottom,
            color-mix(in oklab, var(--base-color) 7.5%, rgba(0, 0, 0, 0) 92.5%) 0%,
            #ffffff 50%,
            color-mix(in oklab, var(--base-color) 7.5%, rgba(0, 0, 0, 0) 92.5%) 100%);
    border-top: 2px solid color-mix(in oklab, var(--base-color) 40%, rgba(0, 0, 0, 0) 60%);
    border-bottom: 2px solid color-mix(in oklab, var(--base-color) 40%, rgba(0, 0, 0, 0) 60%);
}

.title-l {
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    color: var(--base-color);
}

.title-md {
    font-size: 1.25em;
    font-weight: bold;
    color: var(--base-color);
}

.title-sm {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--base-color);
}

.btn-primary {
    background-color: var(--base-color);
    border-color: var(--base-color);
}